<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>

  <form class="form" name="form" novalidate>
     <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="vm.user.email"  required>
     </div>

     <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
     </div>

     <div class="form-group">
        <label>Role</label>
        <input type="text" name="role" class="form-control" ng-model="vm.user.role" required>
     </div> 
         
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.email">
             Please enter a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required">
             Please enter a valid email.
          </p>
          <p class="help-block" ng-show="form.password.$error.required">
             Please enter a valid password.
          </p>
        </div>

     <div>
        <button class='btn btn-primary' ng-click="admin.create(form)" ng-disabled="form.$invalid">
        Create User
        </button>
     </div>
  </form>

</div>