.thing-form {
  margin: 20px 0;
}

.features {
  ul {
    li{
      .thing {
        margin-top: 5px;
      }
      a{
        float: left;
      }
    }
  }
}

.hero-unit {
   background: white;
}

.header-cofe {
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #ff9b23;
  margin-top: -20px;
  margin-bottom: -75px;
  .socials-facebook, .socials-twitter {
    float: right;
    width: 47px;
    height: 50px;
    background: url(/assets/images/socials.png);
  }
  .socials-facebook:hover, .socials-facebook:focus {
    background-position: 0 50px;
  }
  .socials-twitter {
    background-position: 47px 0;
  }
  .socials-twitter:hover, .socials-twitter:focus {
    background-position: 47px 50px;
  }
  .subscribe {
    float: right;
    width: 158px;
    height: 50px;
    background: url(/assets/images/subscribe.png) 0 0;
  }
  #sbubscribe-ico {
    margin-top: 10px;
    margin-left: -5px;
  }
  .recall {
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 5px;
    height: 70px;
    width: 250px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    h5 {
      color: red;
    }
    h6 {
      color: darkred;
      margin: -15px 0 0 85px;
    }
    div {
      margin-top: 20px;
      width: 60px;
      height: 20px;
      background: url(/assets/images/star.png) 0 0;
    }
  }
  .navigation {
    z-index: 1;
    float: none;
    margin: -10px auto auto 87px;
    width: 1004px;
    height: 99px;
    background: url(/assets/images/navigation.png) 0 0;
    .navigated-link:not(:first-child) {
      float: left;
      margin-left: -30px;
    }
    .navigated-link:not(:last-child):after {
      content: '';
      float: right;
      width: 2px;
      height: 49px;
      background: url(/assets/images/nav-border.png);
    }
    .navigated-link {
      list-style-type: none;
      margin-top: 10px;
    }
    .navigated-link a {
      line-height: 3;
      color: white;
      margin-top: 20px;
    }
  }
  .slider {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    width: 1062px;
    height: 461px;
    background: url(/assets/images/slider.png);
    .slider-arr-left, .slider-arr-right {
      float: left;
      width: 61px;
      height: 127px;
      background: url(/assets/images/slider-arr.png);
      border: 0;
      margin-top: 155px;
    }
    .slider-arr-right {
      float: right;
      background-position: 61px 0;
    }
    #red-btn {
      margin-top: 50px;
      border: 0;
      width: 154px;
      height: 58px;
      background: url(/assets/images/red-btn.png) 0 0;
      color: white;
    }
  }
}

.body-cofe {
  border-top: 5px solid transparent;
  border-color: white;
  padding-top: 70px;
  background: #f7f5f0;
  .cols {
    h4 {
      color: darkred;
    }
    .cols-img {
      float: left;
      margin-right: 10px;
    }
    li, li a {
      color: #ff9b23;
      text-decoration: underline;
    }
    .separator{
      margin-top: 20px;
    }
  }
}

.footer-cofe {
  background: #f3aa4d;
}