<div class="hero-unit">
  <div class="header-cofe" >
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-xs-push-1">
          <img src="assets/images/logo.png"/>
        </div>
        <div class="col-xs-3 col-xs-push-3">
          <img src="assets/images/header-img.png"/>
        </div>
        <div class="recall col-xs-3 col-xs-pull-1">
          <h5>"Yummy cupcakes and donuts!"</h5>
          <div></div>
          <h6>- Ann Doe, Teacher</h6>
        </div>
        <a href="https://twitter.com/" class="col-xs-1 col-xs-pull-1 socials-twitter"></a>
        <a href="https://facebook.com/" class="col-xs-1 col-xs-pull-1 socials-facebook"></a>
        <div class="subscribe col-xs-2 col-xs-pull-1">
          <img id="sbubscribe-ico" src="assets/images/sbubscribe-ico.png"/>
          Subscribe
        </div>
      </div>
      <div class="row">
        <div class="navigation col-xs-12">
          <div class="row">
            <li class="navigated-link col-xs-2"><a  href="#">Homepage</a></li>
            <li class="navigated-link col-xs-2"><a href="#">About us</a></li>
            <li class="navigated-link col-xs-2"><a  href="#">Our Menu</a></li>
            <li class="navigated-link col-xs-2"><a href="#">Reservations</a></li>
            <li class="navigated-link col-xs-2"><a href="#">Blog</a></li>
            <li class="navigated-link col-xs-2"><a href="#">Showcase</a></li>
            <li class="navigated-link col-xs-2"><a  href="#">Contact Us</a></li>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="slider col-xs-12">
          <div class="row">
            <button class="slider-arr-left col-xs-6"/>
            <button class="slider-arr-right col-xs-6"/>
          </div>
          <button id="red-btn">
          Find Out More!
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="body-cofe">
    <div class="container">
      <div class="cols row">

        <div class="col-xs-4">
          <h4>Fantastic Donuts</h4>
          <p>
            <img class="cols-img" src="assets/images/cols-img.png">
            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Cras molestie condimentum conse am leon.
            <li><a href="#">Order Donuts</a></li>
          </p>
        </div>

        <div class="col-xs-4">
          <h4>Delocious Cupcakes</h4>
          <p>
            <img class="cols-img" src="assets/images/cols-img2.png">
            Ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie condimentum conse am leo libert.
          <li><a href="#">Order Cupcakes</a></li>
          </p>
        </div>

        <div class="col-xs-4">
          <h4>Address & Location</h4>
          <p>
            <img class="cols-img" src="assets/images/cols-img3.png">
            Sit ametconsectetur adipiscing elit. Cras molestie condimentum conse am leo libero, samet dor.
          <li><a href="#">View Map</a></li>
          </p>
        </div>
        <img class="separator col-xs-12" src="assets/images/separator.png">
      </div>
    </div>
  </div>

  <div class="footer-cofe col-lg-12 container">
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 features">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li>
          <a class="thing" href="#" uib-tooltip="{{thing.info}}">{{thing.name}} - {{thing._id}}</a>
          <a class="trash iconFeatures" ng-click="$ctrl.deleteThing(thing)" ng-show="$ctrl.isAdmin()" ui-sref-active="active">
            <span class="fa fa-trash fa-2x"></span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
<!--<ul>-->
<!--<li>-->
<!--<a class="link" href="#">-->
<!--Homepage-->
<!--</a>-->

<!--<a href="#">-->
<!--About Us-->
<!--</a>-->

<!--<a href="#">-->
<!--Our menu-->
<!--</a>-->

<!--<a href="#">-->
<!--Reservations-->
<!--</a>-->

<!--<a href="#">-->
<!--Blog-->
<!--</a>-->

<!--<a href="#">-->
<!--Showcase-->
<!--</a>-->

<!--<a href="#">-->
<!--Contact Us-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->